$XS:     480px;   
$SM:     799px;  
$MD:    992px;   
$XL:   1170px;
$XXL: 1350px;     

// media queries

@mixin Responsive($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: $XS) { @content; } 
  }
  @else if $canvas == SM {
   @media only screen and (max-width: $SM) { @content; } 
  }
  @else if $canvas == MD {
   @media only screen and (max-width: $MD) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL) { @content; } 
  }
  @else if $canvas == XXL {
   @media only screen and (max-width: $XXL) { @content; } 
  }
}